<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net451" />
  <package id="LogoFX.Client.Bootstrapping" version="1.0.3.2" targetFramework="net451" />
  <package id="LogoFX.Client.Core" version="1.0.3.1" targetFramework="net451" />
  <package id="LogoFX.Core" version="1.0.3.3" targetFramework="net451" />
  <package id="LogoFX.Practices.IoC" version="1.0.3" targetFramework="net451" />
  <package id="LogoFX.Practices.Modularity" version="1.0.3" targetFramework="net451" />
  <package id="Solid.Practices.Composition" version="1.0.5" targetFramework="net451" />
  <package id="Solid.Practices.Composition.Desktop" version="1.0.5" targetFramework="net451" />
  <package id="Solid.Practices.IoC" version="1.0.4.1" targetFramework="net451" />
  <package id="Solid.Practices.Middleware" version="1.0.3" targetFramework="net451" />
  <package id="Solid.Practices.Modularity" version="1.0.5" targetFramework="net451" />
</packages>