<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LogoFX.Client.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Client.Core.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Client.Mvvm.ViewModel" version="1.0.4" targetFramework="net451" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Core" version="1.0.4" targetFramework="net451" />
  <package id="LogoFX.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Practices.IoC" version="1.0.4" targetFramework="net451" />
</packages>