<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.0.9" targetFramework="net451" />
  <package id="Attest.Fake.Core" version="1.0.8" targetFramework="net451" />
  <package id="Attest.Fake.Registration" version="1.0.9" targetFramework="net451" />
  <package id="Attest.Tests.Core" version="1.1.1" targetFramework="net451" />
  <package id="Attest.Tests.SpecFlow" version="1.1.1" targetFramework="net451" />
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net451" />
  <package id="LogoFX.Client.Core" version="1.0.5" targetFramework="net451" />
  <package id="LogoFX.Client.Tests.Shared" version="1.0.4" targetFramework="net451" />
  <package id="LogoFX.Client.Tests.Shared.Caliburn.Micro" version="1.0.4" targetFramework="net451" />
  <package id="shim" version="1.0.2.50909" targetFramework="net451" />
  <package id="Solid.Practices.IoC" version="1.0.8" targetFramework="net451" />
  <package id="Solid.Practices.Scheduling" version="1.0.6" targetFramework="net451" />
  <package id="SpecFlow" version="2.0.0" targetFramework="net451" />
</packages>