<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LogoFX.Client.Bootstrapping.Adapters.Contracts" version="1.0.4" targetFramework="net451" />
  <package id="LogoFX.Practices.IoC.Extensions.SimpleInjector" version="1.0.3" targetFramework="net451" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net451" />
  <package id="Solid.Practices.IoC" version="1.0.8" targetFramework="net451" />
</packages>