<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LogoFX.Async" version="1.0.3" targetFramework="net451" />
  <package id="LogoFX.Client.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Client.Core.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Core" version="1.0.7" targetFramework="net451" />
</packages>