<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.0.7" targetFramework="net451" />
  <package id="Attest.Fake.Core" version="1.0.7" targetFramework="net451" />
  <package id="Attest.Fake.Moq" version="1.0.7" targetFramework="net451" />
  <package id="Attest.Tests.Core" version="1.0.8" targetFramework="net451" />
  <package id="Attest.Tests.NUnit" version="1.0.8" targetFramework="net451" />
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net451" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="net451" />
  <package id="LogoFX.Client.Bootstrapping" version="1.0.3.4" targetFramework="net451" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.SimpleContainer" version="1.0.3.2" targetFramework="net451" />
  <package id="LogoFX.Client.Bootstrapping.Contracts" version="1.0.3" targetFramework="net451" />
  <package id="LogoFX.Client.Core" version="1.0.3.1" targetFramework="net451" />
  <package id="LogoFX.Client.Mvvm.Core" version="1.0.3" targetFramework="net451" />
  <package id="LogoFX.Client.Mvvm.Model" version="1.0.5.4" targetFramework="net451" />
  <package id="LogoFX.Client.Tests.NUnit" version="1.0.3.3" targetFramework="net451" />
  <package id="LogoFX.Client.Tests.Shared" version="1.0.3" targetFramework="net451" />
  <package id="LogoFX.Core" version="1.0.3.4" targetFramework="net451" />
  <package id="LogoFX.Practices.IoC" version="1.0.3.2" targetFramework="net451" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Solid.Patterns.Memento" version="1.0.3.1" targetFramework="net451" />
  <package id="Solid.Practices.Composition" version="1.0.5" targetFramework="net451" />
  <package id="Solid.Practices.Composition.Desktop" version="1.0.5" targetFramework="net451" />
  <package id="Solid.Practices.IoC" version="1.0.4.1" targetFramework="net451" />
  <package id="Solid.Practices.Middleware" version="1.0.3" targetFramework="net451" />
  <package id="Solid.Practices.Modularity" version="1.0.5" targetFramework="net451" />
  <package id="Solid.Practices.Scheduling" version="1.0.4" targetFramework="net451" />
</packages>