<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.0.9" targetFramework="net451" />
  <package id="Attest.Fake.Core" version="1.0.8" targetFramework="net451" />
  <package id="Attest.Fake.Registration" version="1.0.9" targetFramework="net451" />
  <package id="Attest.Tests.Core" version="1.1.1" targetFramework="net451" />
  <package id="Attest.Tests.NUnit" version="1.1.1" targetFramework="net451" />
  <package id="LogoFX.Client.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Client.Core.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Client.Tests.Shared" version="1.0.4" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="shim" version="1.0.2.50909" targetFramework="net451" />
  <package id="Solid.Practices.IoC" version="1.0.8" targetFramework="net451" />
  <package id="Solid.Practices.Scheduling" version="1.0.7" targetFramework="net451" />
</packages>